/* 1024 */

@media (max-width: 1024px) {
  html {
    font-size: 57.5%;
  }
}

/* 768 */

@media (max-width: 768px) {
  html {
    font-size: 42.5%;
  }
}

/* 480 */

@media (max-width: 480px) {
  html {
    font-size: 27.5%;
  }
}
