@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* #header {
    max-width: 1020px;
    margin: 0 auto;
}

#header::after {
    content: '';
    display: block;
    clear: both;
}

.header_top_wrap {
    position: relative;
    height: 10.5rem;
    border: 1px solid red;
} */
#header {
  max-width: 1020px;
  margin: 0 auto;
}
#header .header_top_wrap {
  border: 1px solid red;
  position: relative;
  height: 105px;
}
#header .header_top_wrap h1.logo {
  text-align: center;
  width: 133px;
  height: 43px;
  margin: calc(105px / 2 - 43px / 2) auto auto;
}
#header .header_top_wrap h1.logo > a,
#header .header_top_wrap h1.logo > a > img {
  display: block;
}
.sns_wrap,
.eshop {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sns_wrap {
  left: 0;
  white-space: nowrap;
}
.eshop {
  right: 0;
}
.sns_wrap > li {
  /* float: left; */
  display: inline-block;
  margin-right: 3px;
}
/* .sns_wrap > li:hover img:first-of-type {
  display: none;
}
.sns_wrap > li:hover img:last-of-type {
  display: block;
} */
/* .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13.3rem;
  height: 4.3rem;
  transform: translate(-50%, -50%);
} */

/* .logo > a {
  display: block;
  width: 100%;
  height: 100%;
}

.sns_wrap {
  width: auto;
  margin-top: 4rem;
}

.sns_wrap::after {
  content: "";
  display: block;
  clear: both;
}

.sns_wrap > li {
  float: left;
  margin-right: 0.5rem;
}

.sns_wrap > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

.sns_wrap > li > a > img {
  display: block;
}

.eshop {
  float: right;
} */
